 <!-- .page-sidebar -->
<aside id="sidebar" class="page-sidebar hidden-md hidden-sm hidden-xs">
    <!-- Start .sidebar-inner -->
    <div class="sidebar-inner">
        <!-- Start .sidebar-scrollarea -->
        <div class="sidebar-scrollarea">
            <!--  .sidebar-panel -->
          
            @await Html.PartialAsync("PartialViews/_profile_left_sidebar")

            <div class="sidebar-panel">
                <h5 class="sidebar-panel-title">Navigation</h5>
            </div>
            <!-- / .sidebar-panel -->
            <!-- .side-nav -->
            <div class="side-nav">
                <ul class="nav">
                    @await Html.PartialAsync("PartialViews/_leftmenuitems")
                </ul>
            </div>
            <!-- / side-nav -->
            
            @await Html.PartialAsync("PartialViews/_leftmenubottom")

        </div>
        <!-- End .sidebar-scrollarea -->
    </div>
    <!-- End .sidebar-inner -->
</aside>
<!-- / page-sidebar -->